body {
  font-family: Avenir Next,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.header {
  text-align: center;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.search-container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.song-container {
  box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}


.sidebar {
  transition: right 0.5s;
  width: 12em;
  right: -14em;
}

.sidebar.active {
  right: 0;
}

.pointer {
  cursor: pointer;
}
